
.login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    margin-right: 80px;

    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #813d23;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

    flex-shrink: 0;
}