nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 640px;
    margin-right: 100px;

    flex-shrink: 0;
}

nav a{
    position: relative;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}



nav :first-child::after{
    content: " ";
    position: absolute;
    top: 2px;
    left: 60px;
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background-image: url('../../../assets/arrow_down.png');
    background-size: cover;
}

